player-connection-mode=Connect
player-connection-guid=1044400047
player-connection-debug=1
player-connection-project-name=Mercenaries of Hexlands
player-connection-wait-timeout=-1
player-connection-ip=192.168.1.2
player-connection-ip=172.20.48.1
player-connection-ip=169.254.123.144
profiler-enable=1
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
wait-for-managed-debugger=0
managed-debugger-fixed-port=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=3ada04503b5c44a1afb63900d3e8f4fd
