player-connection-mode=Listen
player-connection-guid=1044400047
player-connection-debug=0
player-connection-project-name=Mercenaries of Hexlands
player-connection-ip=192.168.1.2
player-connection-ip=172.20.48.1
player-connection-ip=169.254.123.144
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=d4485262832642f186a66cb3c08205d0
